li {
  list-style-type: none;
}

.main-class {
    background-color: rgb(247, 247, 247);
}

ul {
  padding: 0px;
}

.todo-text {
  text-indent: 10px;
  background-color: #d3ffe4;
  border-radius: 10px;
  border: 1px solid black;
  padding: 3px;
  box-shadow: 3px 3px 5px rgb(109, 96, 96);

  & span:first-letter {
    text-transform: uppercase;
  }
  & span {
    margin-left: 12px;
    padding: 2px 5px;
  }
}
.form-control {
  border: 1px solid black;
  box-shadow: 2px 2px 3px rgb(104, 104, 104);
}

.btn {
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 3px 3px 5px rgb(138, 129, 129);
}

.completeTodo {
  background: #cad4ce;
  border: 1px solid red;
  & span {
    text-decoration: line-through;
  }
  & .btn {
    background-color: green;
  }
  box-shadow: 3px 3px 5px rgb(111, 133, 97);
}

.input-width {
  max-width: 200x;
}

.total-info {
  text-align: center;
  padding: 3px 15px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgb(120, 136, 141);
}
