<span fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
  <header fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
    <section
      fxLayout="row"
      fxLayoutGap="5px"
      fxLayoutAlign="space-between center"
      class="input-width"
    >
      <span fxFlex="220px" fxLayoutAlign="center center">
        <input
          class="form-control"
          placeholder="What you want ToDo?"
          type="text"
          [(ngModel)]="newTodo.title"
          (keyup.enter)="addTodo()"
        />
      </span>
      <button (click)="addTodo()" fxFlex="60px" class="btn btn-sm btn-success">
        Add
      </button>
    </section>
    <section
      fxLayout="row"
      fxLayoutGap="5px"
      fxLayoutAlign="space-between center"
      class="input-width"
    >
      <span fxFlex="220px" fxLayoutAlign="center center">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="searchText"
          placeholder="Search in ToDo"
      /></span>

      <button
        [disabled]="!searchText"
        (click)="searchText = ''"
        fxFlex="60px"
        class="btn btn-sm btn-warning"
      >
        Clear
      </button>
    </section>
  </header>
  <section>
    <span *ngIf="todosList.length > 0">
      <span fxLayout="column" fxLayoutGap="5px">
        <ng-container *ngFor="let todo of todosList">
          <span
            fxLayout="row"
            fxLayoutGap="5px"
            fxLayoutAlign="start center"
            *ngIf="
              searchText
                ? todo.title.toLowerCase().includes(searchText.toLowerCase())
                : true
            "
          >
            <div
              class="todo-text"
              fxFlex="230px"
              fxFlex.gt-xs="500px"
              [ngClass]="todo.complete ? 'completeTodo' : ''"
              (click)="toggleComplete(todo)"
              [innerHTML]="todo.title | highlight: searchText"
            ></div>

            <button
              fxFlex="60px"
              (click)="deleteTodo(todo)"
              class="btn btn-sm btn-danger"
            >
              Delete
            </button>
          </span>
        </ng-container>
      </span>
    </span>
  </section>
  <footer *ngIf="todosList.length > 0">
    <strong
      >Total: {{ todosList.length }}, complete: {{ countCompleteTodo }}</strong
    >
  </footer>
</span>
