li {
  list-style-type: none;
}

ul {
  padding: 0px;
}

.todo-text {
  text-indent: 10px;
  background-color: rgb(211, 245, 255);
  border-radius: 10px;
  border: 1px solid black;
  padding: 3px;
  &:first-letter {
    text-transform: uppercase;
  }
}
.form-control{
    border: 1px solid black;
}

.btn {
  border-radius: 8px;
  border: 1px solid black;
}

.completeTodo {
  background: rgb(218, 218, 218);
  text-decoration: line-through;
}

.input-width {
  max-width: 200x;
}
