.btn {
  padding: 6px;
}
.buy-bart-modal {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.cart-modal-item {
  input {
    text-align: center;
  }
  .btn {
    margin: auto;
    width: 24px;
  }
  border-radius: 5px;
  border: 1px solid #ced4da;
  margin: 5px 0px;
  padding: 5px 0px;
}
