<!-- <div *ngIf="!logged">
  <p>You need to <strong>Log In</strong> before enter the chat</p>
</div>
<div *ngIf="logged">
  <div id="chat-container"></div>
  <form #chatForm="ngForm">
    <input type="text" name="message" ngModel />
    <button (click)="sendMessage(chatForm.value.message)">Send</button>
  </form>
</div> -->
<div class="chat-box-container">
  <div class="chat-box" fxFlex="100">
    <div>
      <div id="chat-container" fxLayout="column">
        <div
          *ngFor="let message of messages"
          [ngClass]="{
            'your-chat-message':
              message.yourMessage && !message.servicesMessage,
            'chat-message': !message.yourMessage && !message.servicesMessage,
            'service-message': message.servicesMessage
          }"
        >
          {{ message.message }}
        </div>
      </div>
      <div>
        <input type="text" [(ngModel)]="message" />
        <button (click)="chatMessage()">Send</button>
      </div>
    </div>
  </div>
</div>
