/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #15b300;
}
.chat-box-container {
  background-color: rgb(230, 219, 219);
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  max-width: 480px;
  .chat-box {
    display: flex;
    flex-direction: column;
    .chat-container {
      max-height: 400px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      .chat-message {
        width: 80%;
        margin: 0px 16px 8px;
        border-radius: 5px;
        &:first-child {
          margin-top: 8px;
        }
      }
      .your-message {
        align-self: flex-end;
        background-color: rgb(0, 160, 0);
      }
      .users-message {
        background-color: white;
      }
      .service-message {
        width: auto;
        align-self: center;
        background-color: rgb(180, 180, 253);
      }
    }
    .chat-input {
      display: flex;
      margin: 5px;
      padding: 5px;
      display: flex;
      justify-content: space-around;
      background-color: rgb(243, 234, 234);
      border-radius: 10px;
      input {
        background-color: rgb(183, 255, 255);
        border-radius: 12px;
        height: 30px;
        flex: 0 1 calc(100% - 80px);
      }
      button {
        border-radius: 12px;
        flex: 0 1 60px;
      }
    }
  }
}
