<div class="chat-box-container">
  <div class="chat-box">
    <div class="chat-container" #scrollframe>
      <div
        *ngFor="let message of messages"
        class="chat-message"
        [ngClass]="{
          'your-message': message.yourMessage && !message.servicesMessage,
          'users-message': !message.yourMessage && !message.servicesMessage,
          'service-message': message.servicesMessage
        }"
        #item
      >
        {{ message.message }}
      </div>
    </div>
    <div class="chat-input">
      <input type="text" [(ngModel)]="message" (keyup.enter)="chatMessage()" />
      <button (click)="chatMessage()">Send</button>
    </div>
  </div>
</div>
