<div class="product-container">
  <div class="product-card" fxLayout="column" fxLayoutAlign="space-between">
    <div class="product-card-image" fxLayoutAlign="center center">
      <img src="{{ productItem.imageUrl }}" alt="Photo of a Shiba Inu" />
    </div>
    <div>
      <div class="card-text-center">
        <h4 class="card-title">{{ productItem.title }}</h4>
        <h3>{{ productCardText }}</h3>
        <p class="card-text">Price: {{ productItem.price }}</p>
      </div>
      <div fxLayoutAlign="center center" class="footer">
        <button
          fxFlex="60px"
          class="btn btn-success mx-1 my-3"
          mat-button
          (click)="onClickAddToCart()"
        >
          BUY
        </button>
        <button
          fxFlex="60px"
          class="btn  btn-info mx-1 my-3"
          (click)="onClickShow()"
          mat-button
        >
          INFO
        </button>
      </div>
    </div>
  </div>
</div>
