<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a routerLink="/home" class="navbar-brand">MyLoGo</a>
  <app-clock fxShow.gt-sm="false" class="mr-auto font-weight-bold"></app-clock>

  <button
    class="navbar-toggler ml-auto mr-2"
    type="button"
    (click)="status = !status"
    data-toggle="collapse"
    data-target="#navbarId_1"
    aria-controls="navbarId_1"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    id="navbarId_1"
    class=" navbar-collapse"
    [ngClass]="status ? 'collapse' : ''"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="home" class="nav-link">Home </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="todo" class="nav-link">ToDo</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="products" class="nav-link">Products</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a
          class="nav-link dropdown-toggle"
          dropdownToggle
          role="button"
          data-toggle="dropdown"
          id="navbarDropdownId_1"
          aria-haspopup="true"
          aria-expanded="false"
          >Service</a
        >
        <div
          class="dropdown-menu"
          *dropdownMenu
          aria-labelledby="navbarDropdownId_1"
        >
          <a routerLink="management" class="dropdown-item">Management</a>
          <a class="dropdown-item">Test</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Test</a>
        </div>
      </li>
    </ul>

    <app-login></app-login>
  </div>
</nav>
