.product-container {
  margin: 3px 5px;
  padding: 2px;
  border:1px solid #ced4da;
  border-radius: 10px;
  
}


.example-card {
    margin: 5px;
    max-width: 550px;
  }
  
  .example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }