<div class="product-container" fxLayout.gt-sm="row" fxLayout.lt-md="column">
  <div fxFlex.gt-sm="280px" class="aside" fxFlexOrder="2" fxFlexOrder.gt-sm="1">
    <span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quae
      beatae ut ipsum assumenda atque rem, vel est explicabo. Nisi ducimus est
      excepturi laudantium fuga delectus quasi impedit, id illum quidem, tenetur
      recusandae similique eligendi cupiditate dicta unde voluptatibus porro
      odio ab totam. Dolore voluptatibus, dicta provident debitis, vero ratione
      vitae nesciunt molestiae dolor quia fugiat magnam quaerat nobis? Ea
      voluptates eveniet non alias libero. Magni consequatur nobis ex adipisci,
      obcaecati sint veniam corrupti sunt sed mollitia placeat rem ipsam eaque
      officiis omnis ullam nesciunt eligendi, praesentium similique, aut
      accusamus nam dolorum minima. Perspiciatis amet, quo id ipsa omnis
      tempora!
    </span>
  </div>
  <div
    fxLayout="column"
    fxLayoutAlign="centre centre"
    fxFlexOrder="1"
    fxFlexOrder.gt-sm="2"
    fxFlex="82.5"
  >
    <div>
      <div class="form-background" fxLayout>
        <input
          type="text"
          class="form-control mr-2"
          placeholder="Search"
          [(ngModel)]="productsListSearch"
        /><button class="btn btn-primary">
          Search
        </button>
      </div>
    </div>
    <div
      fxLayout="row wrap"
      fxLayoutAlign.gt-sm="start center"
      fxFlex.lt-sm="column"
      fxLayoutAlign.lt-sm="center center"
      class="products-background"
    >
      <ng-container *ngFor="let productItem of productsList | async">
        <app-product-card
          *ngIf="
            productsListSearch
              ? productItem.title
                  .toLowerCase()
                  .includes(productsListSearch.toLowerCase())
              : true
          "
          [productCardText]="productsListSearch"
          [productItemInChild]="productItem"
          fxFlex.xs="0 1 50%"
          fxFlex.sm="0 1 33.3%"
          fxFlex.md="0 1 33.3%"
          fxFlex.lg="0 1 25%"
          fxFlex.gt-lg="0 1 20%"
        ></app-product-card>
        <div></div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #productModalTemplate>
  <div
    class="modal-header text-center"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <h4 class="modal-title">Product Info</h4>
    <!-- <button
      type="button"
      class="btn-light ml-auto"
      aria-label="Close"
      (click)="productModalRef.hide()"
      fxLayout
      fxLayoutAlign="space-around"
    >
      <mat-icon>close</mat-icon>

    </button> -->
  </div>

  <div class="modal-body">
    <mat-card class="example-card text-center">
      <div class="product-card-image-modal" fxLayoutAlign="center center">
        <img
          src="{{ CurrProduct.imageUrl }}"
          alt="Photo of a Shiba Inu"
        />
      </div>

      <mat-card-content>
        <h4 class="card-title">{{ CurrProduct.title }}</h4>
        <p class="card-text">
          {{ CurrProduct.description }}
        </p>
        <p class="price-text">{{ CurrProduct.price }} $</p>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="end center">
        <button class="btn btn-lg btn-success mr-2" mat-button>Buy</button>
        <button
          class="btn btn-lg btn-danger"
          mat-button
          (click)="productModalRef.hide()"
        >
          Close
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
