<div class="container"></div>
<div fxLayout="column" fxLayoutAlign="centre centre">
  <div>
    <div class="form-background sticky-top" fxLayout>
      <input type="text" class="form-control mr-2" placeholder="Search" /><button
        class="btn btn-primary"
      >
        Search
      </button>
    </div>
  </div>

  <div
    fxLayout="row wrap"
    fxLayoutAlign.gt-sm="start center"
    fxFlex.lt-sm="column"
    fxLayoutAlign.lt-sm="center center"
    class="products-background"
  >
    <ng-container *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
      <app-product-card
        fxFlex="0 1 25%"
        fxFlex.lt-lg="0 1 33%"
        fxFlex.lt-md="0 1 50%"
        fxFlex.lt-sm="96"
      ></app-product-card>

      <div></div>
    </ng-container>
  </div>
</div>
