.paginate {
  .custom-pagination-ul {
    padding-inline-start: 0px !important;
    display: inline;
    margin: 0px;
    .start-end-ul {
      cursor: pointer;
    }
    li {
      border: 1px solid black;
      display: inline;
      padding: 3px 3px;
    }
    .current {
      background-color: #2199e8;
      color: white;
    }
    .disabled-ul {
      color: #cacaca;
      cursor: default;
    }
    .page-number-ul {
      padding: 3px 10px;
      width: 32px;
      height: 32px;
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.aside {
  border: 1px solid #ced4da;
  margin: 5px 5px 0px;
  border-radius: 5px;
  background: rgb(247, 247, 247);
}

.product-card-image-modal {
  margin: auto;
  height: 400px;
  img {
    border-radius: 5px;
    max-height: 380px;
    max-width: 98%;
  }
}

.product-container {
  margin: 5px 5px;
}
.card {
  margin: auto;
}

.form-background {
  border: 1px solid #ced4da;
  padding: 5px;
  margin: 5px;
  .btn {
    width: 80px;
  }
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
}

.products-background {
  border: 1px solid #ced4da;
  margin: 5px 5px 0px;
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
}

.price-text {
  font-size: 25px;
}
