<section *ngIf="!logged">
  <form
    *ngIf="!errorMessage"
    class="form-inline my-2 my-lg-0"
    #loginForm="ngForm"
  >
    <input
      class="form-control mr-sm-2"
      type="text"
      name="name"
      ngModel
      placeholder="Name"
    />
    <input
      class="form-control mr-sm-2 my-2"
      type="password"
      name="password"
      placeholder="password"
      ngModel
    />
    <div>
      <button
        class="btn btn-outline-info mr-2 my-2 my-sm-0"
        (click)="openModal(template)"
      >
        Sing In
      </button>
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        (click)="logIn(loginForm.value)"
      >
        Log In
      </button>
    </div>
  </form>
  <div *ngIf="errorMessage">
    <p class="my-auto form-control mr-sm-2">{{ errorMessage }}</p>
  </div>
</section>
<button *ngIf="logged" class="btn btn-danger" (click)="logOut()">
  Log Out
</button>
<!-- 
<button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->

<ng-template #template>
  <!-- <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body" *ngIf="!logged">
    <form
      *ngIf="!errorMessage"
      class="form-inline my-2 my-lg-0"
      #signInForm="ngForm"
      fxLayout="column"
    >
      <input
        fxFill
        class="form-control mr-sm-2"
        type="text"
        name="name"
        ngModel
        placeholder="Name"
      />
      <input
        fxFill
        class="form-control mr-sm-2 my-2"
        type="password"
        name="password"
        placeholder="password"
        [(ngModel)]="password"
      />
      <input
        fxFill
        class="form-control mr-sm-2 my-2"
        type="password"
        name="password_confirm"
        placeholder="Confirm password"
        [(ngModel)]="password_confirm"
      />
      <p *ngIf="password !== password_confirm">Різні паролі!</p>
      <input
        fxFill
        class="form-control mr-sm-2 my-2"
        type="password"
        name="key"
        placeholder="Key"
        ngModel
      />
      <p *ngIf="signErrorMessage" class="m-auto">{{ signErrorMessage }}</p>
      <div>
        <button
          class="btn btn-success my-sm-5"
          [disabled]="password !== password_confirm"
          (click)="signIn(signInForm.value)"
        >
          Sing In
        </button>
      </div>
    </form>
  </div>
</ng-template>
