<div fxflexFill fxLayout="column">
  <div fxLayout="row">
    <div fxFlex="95" fxFlex.gt-sm="90">
      <app-header></app-header>
    </div>
    <app-buyCart></app-buyCart>
    <!-- <div fxFlex="80px" fxFlex.gt-sm="120px" fxFlex.gt-md="160px" fxLayoutAlign>
      <button
        fxFill
        class="btn btn-success"
        fxLayout
        fxLayoutAlign="space-around"
      >
        <mat-icon>shopping_cart</mat-icon>Cart
      </button>
    </div> -->
  </div>
  <div fxLayout="column" fxFill>
    <router-outlet fxFill></router-outlet>
    <div fxLayout="row" fxFlex="50px">
      <app-footer fxLayoutAlign="center center" fxFlex="auto"></app-footer>
    </div>
  </div>
</div>
